/* Custom font faces */
@font-face {
  font-family: 'Bebas Neue';
  src: url('/assets/Bebas_Neue,Jersey_10,STIX_Two_Text/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minecraft';
  src: url('/assets/MinecraftRegular-Bmg3.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
