.navbar {
    position: sticky;
    top: 0;
    background-color: black;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(169, 22, 22, 0.1);
    z-index: 1000;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    margin: 0;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
  }
  
  .links {
    display: flex;
    gap: 2rem;
  }
  
  .link {
    text-decoration: none;
    color: white;
  }
  